body {
    margin: 20px;
    padding: 0;
    text-align: center;
}

main h1 {
    margin: 0;
    padding: 0;
}

#start {
    background-color: lawngreen;
    font-size: 25px;
    cursor: pointer;
}

#reset {
    background-color: orange;
    font-size: 25px;
    cursor: pointer;
}

#stop {
    background-color: red;
    font-size: 25px;
    cursor: pointer;
}





#time {
    /*height: 100px;
    width: 210px;
    border: 1px solid black;
    text-align: center;
    position: relative;*/
    border: 1px solid red;
    padding: 20px;
    display: inline-block;
    font-size: 1.5em;
    margin: 15px;
}

main {
    border: 1px solid green;
    padding: 20px;
}

.formDiv {
    display: flex;
    flex-direction: column;
}

.no1 {
    display: flex;
    width: 500px;
    margin: 5px auto;
}

.no1 label {
    flex: 1;
}



.no1 input {
    flex: 2;
}

.no2 {
    display: flex;
    width: 500px;
    margin: 5px auto;
}

.no2 label {
    flex: 1;
}

.no2 input {
    flex: 2;
}