body {
    margin: 20px;
    padding: 0;
    text-align: center;
    background-color: black;
    color: white;
    
    
}

main h1 {
    margin: 0;
    padding: 0;
}

#start {
    background-color: lawngreen;
    font-size: 25px;
    cursor: pointer;
    border-radius: 12px;
    tab-size: 90px;
    
    
    
}

#reset {
    background-color: orange;
    font-size: 25px;
    cursor: pointer;
    border-radius: 12px;
}

#stop {
    background-color: red;
    font-size: 25px;
    cursor: pointer;
    border-radius: 12px;
}


#time {
   border: 1px solid red;
    padding: 20px;
    display: inline-block;
    font-size: 35px;
    margin: 15px;
}

main {
    border: 1px solid black;
    padding: 20px;
}

#image{
    
    height: 350px;
    height: 350px;

}

footer{
  border-top: 1px solid gray;
  color: gray;
  position: fixed;
  height: 32px;
  left: 400px;
  right: 400px;
  bottom: 0px;
  font-size: 14px;
    
}


